/* Mayurkumar Yadav Student ID:8911436 */
body{
    font:normal normal normal 12px/1.5 Verdana,Arial,Helvetica,sans-serif;
    height: 100vh;
    width: 100vw;
    background-color:hsla(200, 45%, 81%, 0.7);

}
h1
{
    color: brown; 
    font-size: 30px;
}
h2{
    font-size: 2rem;
    color:#409;
}
aside ul{
    list-style:disc;
}
aside li,a{
    line-height: 1.7;
    color : rgba(200, 90, 127, 0.5);
}
aside a{
    color : rgba(200, 90, 127, 0.5);  
}
header{
    background-color: hsl(200, 99%, 99%);
}
nav ul li
{
    display:inline;
    list-style-type:none;

}
nav ul li a
{
    border: 2px solid indigo;
    color: indigo;
    background-color:cornsilk;
    text-decoration: none;
    padding: 4px;

}
nav ul li a:hover{
    border: 2px solid indigo;
    color: indigo;
    background-color: #f09;
}
main{
    float: left;
    width: 65vw;
    background-color: hsl(300, 70%,68%);
    height: auto;
}
aside{
    float: right;
    width: 25vw;
    background-color: hsl(400, 60%, 65%);
    height: 60vh;
}
footer{
    clear: both;
    background-color: hsl(500, 50%, 60%);
}
aside a:hover{
    color: #f09;
}
.structural{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;

}
#para1{
    color: rgb(219,60,7);

}
#para2
{
    color: rgb(17,3,85);
}
form
{
    border: 5px dashed darkblue;
}
input[type=text],input[type=email],input[type=submoit],select,option
{
    display: block;
    width: 50%;
    height: 2em;
}
input[type=radio],input[type=checkbox]
{
    height: 2em;
    width: 2em;
}
select,option,label,legend
{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.5rem;
}
textarea
{
    width: 50%;
    display: block;
}
fieldset
{
    border: none;
}
footer p{
    font-size: .75em;
}
